button {
  background-color: var(--color-primary);
  padding-block: 8px;
  padding-inline: 16px;
  color: #fff;
  border-radius: 500px;
  border-width: 0px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
