.App {
  color: #2c2c2c;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.App-header {
  background-color: var(--color-grey);
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 100%;
  margin-right: 32px;
}
