.Nav-sidebar {
  padding-top: 50%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 16px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Nav-sidebar-item {
  color: white;
  margin: 40pt 0pt;
}

.Nav-sidebar-item.Selected {
  background-color: white;
}

.Nav-sidebar-background {
  background-color: #0ab602;
  border-radius: 8pt;
  padding: 8pt 8pt;
}
